.container {
  max-width: 80%;
  height: 92vh;
  margin: 0 auto 0 auto;
}

.mainImgHome {
  width: 100%;
  height: 92vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titlea {
  color: white;
  font-size: 40px;
  text-align: center;
}

.titleb {
  color: rgb(125, 225, 238);
  font-size: 50px;
  font-weight: 900;
  text-shadow: 0 0 5px rgb(160, 110, 185);
  text-align: center;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.712);
  padding: 38px;
  border-radius: 20px;
  margin: 10px;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    height: 92vh;
  }

  .mainImgHome {
    height: 90vh;
  }

  .titlea {
    color: white;
    font-size: 30px;
    text-align: center;
  }

  .titleb {
    color: rgb(24, 228, 255);
    font-size: 40px;
    text-align: center;
  }
}
