.container {
 
}

.mainImgHome {
  width: 100%;
  height: 90vh;
  background-image: url('../../img/blended-images.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titlea {
  color: white;
  font-size: 50px;
}

.titleb {
  color: rgb(24, 228, 255);
  font-size: 60px;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.712);
  padding: 18px;
  border-radius: 20px;
  margin:10px;
}

@media (max-width: 667px) {
  .mainImgHome {
    height: 90vh;
  }

  .titlea {
    color: white;
    font-size: 30px;
    text-align: center;
  }
  
  .titleb {
    color: rgb(24, 228, 255);
    font-size: 40px;
    text-align: center;
  }
}
