.container {
  margin: 0;
  padding: 30px;
  max-width: 100vw;
}

.textH1Home {
  text-align: center;
  font-size: 2rem;
  padding: 20px 5px;
  margin: 0;
  color: #0c5e9f;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0;
  padding: 10px;
  color: #0d4472;
}

.cardContainer {
  position: relative;
  min-width: 0;
  box-shadow: 0 0 10px 0 black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.cardContainer h3 {
  font-size: 40px;
}

.image {
  height: 180px;
  border-radius: 10px;
}

.information {
  padding: 15px;
  font-size: 0.9rem;
  text-align: left;
  margin-bottom: 30px;
}

.buttonContainer {
  width: 100%;
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

.button {
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  background-color: #0a4f8700;
  border: 1px solid #007d8d;
}

.button a {
  color: #007d8d;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 8px rgb(173, 206, 255);
  cursor: pointer;
  color: #0c5e9f;
  background-color: #03c5de;
}

@media (max-width: 1024px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }

  .cardName {
    margin: 7px 0;
  }

  .information {
    font-size: 1.1rem;
  }

  .buttonContainer {
    position: relative;
    padding-bottom: 25px;
  }
}
