@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

a {
  text-decoration: none;
}

.logo {
  width: 70px;
  margin-left: 15px;
  animation-name: rotatelogo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatelogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.pageicon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pageicon p {
  color: rgb(214, 250, 255);
  margin: 0;
  font-size: 30px;
  font-family: 'Shrikhand', cursive;
}

.pageicon p:hover {
  color: #004a53;
  text-shadow: 0 0 6px white;
}
.navbar {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(180deg, #2e2e2e 0%, #2e6266 50%, #2e6266 100%);
  width: 100%;
  height: 8vh;
}

.list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.list li a {
  padding: 7px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.list li:hover,
.logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px white);
  cursor: pointer;
}

.dropdown {
  display: none;
  margin-left: 10px;
}

.dropdownBtn {
  color: #03c5de !important;
  background-color: #0c5e9f !important;
  border: none !important;
}

.dropdownItem {
  text-align: center;
  color: #0c5e9f !important;
}

.dropdownItem:hover {
  transform: scale(1.1);
}

.pagetitle {
  display: inline-block;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row-reverse;
  }

  .pagetitle {
    display: none;
  }

  .list {
    display: none;
  }

  .dropdown {
    display: block;
  }
}
