.logo {
    width: 70px;
    margin-left: 15px;
  }

.navbar {
    padding: 5px;
    background-color: #03c5de;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 3px 8px 3px #ffffff70;
  }

  .list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.list li {
    padding: 7px;
    color: #0c5e9f;
    font-weight: bold;
  }

.list li:hover, .logo:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 8px white;
    cursor: pointer;
  }
  